In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None
import datetime as dt
from datetime import date
from dateutil.relativedelta import relativedelta
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import matplotlib.style as style
style.use('fivethirtyeight')
import dataframe_image as dfi
import warnings
warnings.filterwarnings('ignore')

In [2]:
plt.rcParams['font.family'] = 'Nunito'
plt.rcParams['font.size'] = 10


color_code = ['#80ADF7','#EFBA50']
font_name = 'Nunito'
font_size = 10
font_size_title = 12
font_weight = 'bold'
orange_color = '#EFBA50'
blue_color = '#80ADF7'
grey_color = '#B0BCC8'
green_color = '#9EEDE0'
red_color = '#FD7284'
# color_code2 = [blue_color, grey_color]

background_color = "#F1F1F1"
border_color = "#B0BCC8"
text_align = 'center'
border_width ="0.5px"
border_style = 'solid'

body_design = { 'background' : "white", 'color' : 'black',  'border-color' : border_color, 'border-width' : border_width, 'border-style' : border_style,'font-family':font_name,'font-size':font_size,'text-align':text_align}
body_design2 = {'background' : "white", 'color' : 'black',  'border-color' : border_color, 'border-width' : border_width, 'border-style' : border_style,'font-family':font_name,'font-size':font_size,'text-align':text_align,'width':'70px'}
body_design3 = { 'background' : "white", 'color' : 'black',  'border-color' : border_color, 'border-width' : border_width, 'border-style' : border_style,'font-family':font_name,'font-size':font_size,'text-align':text_align,'width':'100px'}

border_design = {'selector': 'th', 'props': [('background-color' , background_color),('border-style' ,border_style),('font-family',font_name),('font-size',font_size),('border-width',border_width),('text-align',text_align),('border-color',border_color)]}
bar_width=0.5

In [3]:
%run operations_utils.py

In [4]:
%run path_changer_refill.py

In [5]:
# df = pd.read_csv(source_file_path+'rx_flow_data_july21_final_updated.csv')

In [6]:
# df['track_rx_recieved_new'] =  pd.to_datetime(df.track_erx_received, dayfirst = False)
# df['track_rx_entered_new'] =  pd.to_datetime(df.track_rx_entered, dayfirst = False)
# df['max_date'] = df[['track_rx_recieved_new','track_rx_entered_new']].max(axis=1)
# df['max_date_only'] = df['max_date'].dt.date
# df['pharmacy_loc'] = df['rx_code_key_location'].astype(str).str[0:5]

In [7]:
# six_months = date.today() - relativedelta(months=+6)
# six_months = six_months.strftime("%Y-%m")
# six_month_date = str(six_months)+"-01"
# six_month_date

In [8]:
# df['filled_datekey_new'] =  pd.to_datetime(df.filled_datekey, dayfirst = False)

In [9]:
# df = df[df['filled_datekey_new'] > six_month_date]

In [10]:
# df['times_processed_ibd_regular_new'] = df['times_processed_ibd_regular'].notnull()
# df['times_processed_ibd_2K_new'] = df['times_processed_ibd_2K'].notnull()

In [11]:
# df['mon_key'] = df['max_date'].dt.strftime('%m-%y')

# df['mon_key_2'] = df['max_date'].dt.strftime('%b-%y')

# # df = df[df['mon_key_2']!='Jul-21']

In [12]:
# df['trackrx_last_ibdtag_new'] = df['trackrx_last_ibdtag'].notnull()

In [13]:
# df['status_callforins_day01_new'] = df['status_callforins_day01'].notnull()

In [14]:
# df['times_processed_callforins_day02_new'] = df['times_processed_callforins_day02'].notnull()

In [15]:
# df['times_processed_callforins_day03_new'] = df['times_processed_callforins_day03'].notnull()

In [16]:
# #now apply all on scenario
# df['c1'] = pd.to_timedelta(df['time_consumed_callforins_day01'], errors = 'coerce')
# df['c2'] = pd.to_timedelta(df['time_consumed_callforins_day02'], errors = 'coerce')
# df['c3'] = pd.to_timedelta(df['time_consumed_callforins_day03'], errors = 'coerce')

In [17]:
# df['total_call'] = df[['c1','c2','c3']].sum(axis=1)

In [18]:
# def get_time_value(x):
#     return x > 0

In [19]:
# df['total_call_2'] = df['total_call'].dt.total_seconds()

In [20]:
# df['is_call'] = df['total_call_2'].apply(lambda x: get_time_value(x))

In [21]:
# pharmacy_loc_list = ['FL-MI', 'MD-BA', 'NC-RA', 'NJ-SO', 'NY-BK', 'NY-MA', 'PA-PH']
# df = df[df['pharmacy_loc'].isin(pharmacy_loc_list)]
# df.pharmacy_loc.unique()

In [22]:
%store -r main_odf_refill

In [23]:
df = main_odf_refill

In [24]:
df['TOTALRXAMOUNT'] = df['TOTALRXAMOUNT'].astype(str)
df['TOTALRXAMOUNT'] = df['TOTALRXAMOUNT'].apply(lambda x: x.replace(',',''))
df['TOTALRXAMOUNT'] = df['TOTALRXAMOUNT'].astype(float)

In [25]:
df['trackrx_last_status_new'] = df['trackrx_last_status']
df['trackrx_last_status_new'] = df['trackrx_last_status_new'].replace(['F','T','U'], 'NB')
df['trackrx_last_status_new'] = df['trackrx_last_status_new'].replace(np.nan, 'B')

In [26]:
df['trackrx_last_status'].value_counts()

B    108853
F     24055
T      1259
U       520
Name: trackrx_last_status, dtype: int64

In [27]:
df['rx_revenue'] = df['TOTALRXAMOUNT']

In [28]:
Rx_with_IBD_value_less_2k = df[(df['trackrx_last_ibdtag_new'] == True) & (df['times_processed_ibd_regular_new'] == True)]
Rx_with_IBD_value_greater_2k = df[(df['trackrx_last_ibdtag_new'] == True) & (df['times_processed_ibd_2K_new'] == True)]

In [29]:
# Rx_with_IBD_value_less_2k = df[(df['trackrx_last_ibdtag_new'] == True) & (df['status_callforins_day01_new'] == False) & (df['times_processed_ibd_regular_new'] == True)]

# Rx_with_IBD_2k = df[(df['trackrx_last_ibdtag_new'] == True) & (df['times_processed_ibd_regular_new'] == False) & (df['times_processed_ibd_2K_new'] == False) & (df['total_processing_time_ibd_new'] == False)]

# rx_list =  Rx_with_IBD_2k['rx_code_key_location'].to_list()

# # Rx_with_IBD2 = Rx_with_IBD[~Rx_with_IBD['rx_code_key_location'].isin(rx_list)]
# Rx_with_IBD_value_less_2k = Rx_with_IBD_value_less_2k[~Rx_with_IBD_value_less_2k['rx_code_key_location'].isin(rx_list)]

In [30]:
# Rx_with_IBD_value_greater_2k = df[(df['trackrx_last_ibdtag_new'] == True) & (df['status_callforins_day01_new'] == False) & (df['times_processed_ibd_2K_new'] == True)]


# Rx_with_IBD_value_greater_2k = Rx_with_IBD_value_greater_2k[~Rx_with_IBD_value_greater_2k['rx_code_key_location'].isin(rx_list)]

In [31]:
len(df)

137918

In [32]:
Rx_with_IBD_value_greater_2k['pharmacy_loc'].unique()

array(['NY-BK', 'NJ-SO', 'MD-BA', 'NY-MA', 'NC-RA', 'PA-PH'], dtype=object)

# Overall >2< level IBD for revenue and count

In [33]:
# Rx_with_IBD_value_less_2k_revenue_pivot

In [34]:
Rx_with_IBD_value_less_2k[Rx_with_IBD_value_less_2k['trackrx_last_status_new'] == 'B']['pharmacy_loc'].unique()

array(['NJ-SO', 'NY-BK', 'PA-PH', 'MD-BA', 'NY-MA', 'FL-MI', 'NC-RA'],
      dtype=object)

In [35]:
# Rx_with_IBD_value_less_2k billed
Rx_with_IBD_value_less_2k_billed = Rx_with_IBD_value_less_2k[Rx_with_IBD_value_less_2k['trackrx_last_status_new'] == 'B']

In [36]:
Rx_with_IBD_value_less_2k_count_pivot_billed = pd.pivot_table(Rx_with_IBD_value_less_2k_billed, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_less_2k_count_pivot_billed.rename(columns = {'rx_code_key_location':'Rx count for IBD < 2k', 'pharmacy_loc': 'Pharmacy loc'}, inplace = True)

Rx_with_IBD_value_less_2k_revenue_pivot_billed = pd.pivot_table(Rx_with_IBD_value_less_2k_billed, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_less_2k_revenue_pivot_billed.rename(columns = {'rx_revenue':'Rx revenue for IBD < 2k($)', 'pharmacy_loc': 'Pharmacy loc'}, inplace = True)

In [37]:
# Rx_with_IBD_value_less_2k_billed['pharmacy_loc'].unique()

In [38]:
# Rx_with_IBD_value_greater_2k_revenue_pivot

In [39]:
# Rx_with_IBD_value_greater_2k billed
Rx_with_IBD_value_greater_2k_billed = Rx_with_IBD_value_greater_2k[Rx_with_IBD_value_greater_2k['trackrx_last_status_new'] == 'B']

In [40]:
#Rx_with_IBD_value_greater_2k
Rx_with_IBD_value_greater_2k_count_pivot_billed = pd.pivot_table(Rx_with_IBD_value_greater_2k_billed, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_greater_2k_count_pivot_billed.rename(columns = {'rx_code_key_location':'Rx count for IBD > 2k', 'pharmacy_loc': 'Pharmacy loc'}, inplace = True)

Rx_with_IBD_value_greater_2k_revenue_pivot_billed = pd.pivot_table(Rx_with_IBD_value_greater_2k_billed, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_greater_2k_revenue_pivot_billed.rename(columns = {'rx_revenue':'Rx revenue for IBD > 2k($)', 'pharmacy_loc': 'Pharmacy loc'}, inplace = True)

Rx_with_IBD_value_greater_2k_count_pivot_billed

  Pharmacy loc  Rx count for IBD > 2k
0        MD-BA                     12
1        NC-RA                      2
2        NJ-SO                      8
3        NY-BK                     76
4        NY-MA                      2
5        PA-PH                      8

In [41]:
# Modification

In [42]:
Rx_count_IBD_less_and_greater_than_2k = pd.merge(Rx_with_IBD_value_less_2k_count_pivot_billed, Rx_with_IBD_value_greater_2k_count_pivot_billed, on = 'Pharmacy loc', how = 'left')
# Rx_count_IBD_less_and_greater_than_2k.loc[6] = ['NC-RA', 0,0] 
Rx_count_IBD_less_and_greater_than_2k

  Pharmacy loc  Rx count for IBD < 2k  Rx count for IBD > 2k
0        FL-MI                     40                    NaN
1        MD-BA                    104                   12.0
2        NC-RA                     22                    2.0
3        NJ-SO                    305                    8.0
4        NY-BK                    691                   76.0
5        NY-MA                     62                    2.0
6        PA-PH                     69                    8.0

In [43]:
Rx_count_IBD_less_and_greater_than_2k = Rx_count_IBD_less_and_greater_than_2k.append(Rx_count_IBD_less_and_greater_than_2k.sum(axis=0), ignore_index = True)
Rx_count_IBD_less_and_greater_than_2k.iloc[[len(Rx_count_IBD_less_and_greater_than_2k)-1],[0]] = 'Overall'
Rx_count_IBD_less_and_greater_than_2k = Rx_count_IBD_less_and_greater_than_2k.set_index('Pharmacy loc')
Rx_count_IBD_less_and_greater_than_2k = Rx_count_IBD_less_and_greater_than_2k.replace(np.nan,0)
Rx_count_IBD_less_and_greater_than_2k = Rx_count_IBD_less_and_greater_than_2k[Rx_count_IBD_less_and_greater_than_2k.columns[:]].div(6,0).astype(int)
Rx_count_IBD_less_and_greater_than_2k

              Rx count for IBD < 2k  Rx count for IBD > 2k
Pharmacy loc
FL-MI                             6                      0
MD-BA                            17                      2
NC-RA                             3                      0
NJ-SO                            50                      1
NY-BK                           115                     12
NY-MA                            10                      0
PA-PH                            11                      1
Overall                         215                     18

In [44]:
Rx_count_IBD_less_and_greater_than_2k['Total Count'] = Rx_count_IBD_less_and_greater_than_2k[['Rx count for IBD < 2k', 'Rx count for IBD > 2k']].sum(axis=1)
Rx_count_IBD_less_and_greater_than_2k

              Rx count for IBD < 2k  Rx count for IBD > 2k  Total Count
Pharmacy loc
FL-MI                             6                      0            6
MD-BA                            17                      2           19
NC-RA                             3                      0            3
NJ-SO                            50                      1           51
NY-BK                           115                     12          127
NY-MA                            10                      0           10
PA-PH                            11                      1           12
Overall                         215                     18          233

In [45]:

Rx_count_IBD_less_and_greater_than_2k['Rx count for IBD < 2k %'] = round(Rx_count_IBD_less_and_greater_than_2k['Rx count for IBD < 2k']/Rx_count_IBD_less_and_greater_than_2k['Total Count']*100,0)#.astype(int)
Rx_count_IBD_less_and_greater_than_2k['Rx count for IBD > 2k %'] = round(Rx_count_IBD_less_and_greater_than_2k['Rx count for IBD > 2k']/Rx_count_IBD_less_and_greater_than_2k['Total Count']*100,0)#.astype(int)
Rx_count_IBD_less_and_greater_than_2k = Rx_count_IBD_less_and_greater_than_2k.replace(np.nan,0)
Rx_count_IBD_less_and_greater_than_2k['Rx count for IBD < 2k %'] = Rx_count_IBD_less_and_greater_than_2k['Rx count for IBD < 2k %'].astype(int)
Rx_count_IBD_less_and_greater_than_2k['Rx count for IBD > 2k %'] = Rx_count_IBD_less_and_greater_than_2k['Rx count for IBD > 2k %'].astype(int)
Rx_count_IBD_less_and_greater_than_2k

,Rx count for IBD < 2k,Rx count for IBD > 2k,Total Count,Rx count for IBD < 2k %,Rx count for IBD > 2k %
Pharmacy loc,,,,,
FL-MI,6,0,6,100,0
MD-BA,17,2,19,89,11
NC-RA,3,0,3,100,0
NJ-SO,50,1,51,98,2
NY-BK,115,12,127,91,9
NY-MA,10,0,10,100,0
PA-PH,11,1,12,92,8
Overall,215,18,233,92,8

In [46]:
Rx_count_IBD_less_and_greater_than_2k_final = Rx_count_IBD_less_and_greater_than_2k[['Total Count','Rx count for IBD < 2k', 'Rx count for IBD < 2k %', 'Rx count for IBD > 2k', 'Rx count for IBD > 2k %']]
#Rx_count_IBD_less_and_greater_than_2k_final = Rx_count_IBD_less_and_greater_than_2k_final.set_index('Pharmacy loc')
Rx_count_IBD_less_and_greater_than_2k_final = Rx_count_IBD_less_and_greater_than_2k_final.rename(columns = {'Rx count for IBD < 2k %': ' %', 'Rx count for IBD > 2k %': '% '})
Rx_count_IBD_less_and_greater_than_2k_final

,Total Count,Rx count for IBD < 2k,%,Rx count for IBD > 2k,%
Pharmacy loc,,,,,
FL-MI,6,6,100,0,0
MD-BA,19,17,89,2,11
NC-RA,3,3,100,0,0
NJ-SO,51,50,98,1,2
NY-BK,127,115,91,12,9
NY-MA,10,10,100,0,0
PA-PH,12,11,92,1,8
Overall,233,215,92,18,8

In [47]:
subset_value = (Rx_count_IBD_less_and_greater_than_2k_final.index.tolist()[:-1],['Rx count for IBD < 2k', 'Rx count for IBD > 2k'])

df_style1 = Rx_count_IBD_less_and_greater_than_2k_final.style.set_properties(**body_design).background_gradient(cmap='RdYlGn_r',axis=1, subset = subset_value).format("{:,}")
df_style1.set_table_styles([border_design])

df_style1

In [48]:
dfi.export(df_style1, ibd_images+'rx_count_ibd_less_and_greater_than_2k_final_refill.png')

In [49]:
# Modification

In [50]:
Rx_Revenue_IBD_less_and_greater_than_2k = pd.merge(Rx_with_IBD_value_less_2k_revenue_pivot_billed, Rx_with_IBD_value_greater_2k_revenue_pivot_billed, on = 'Pharmacy loc', how = 'left')
# Rx_Revenue_IBD_less_and_greater_than_2k.loc[6] = ['NC-RA',0,0]
Rx_Revenue_IBD_less_and_greater_than_2k

  Pharmacy loc  Rx revenue for IBD < 2k($)  Rx revenue for IBD > 2k($)
0        FL-MI                    78038.18                         NaN
1        MD-BA                   145172.19                    21484.41
2        NC-RA                    56408.13                    11675.41
3        NJ-SO                   443585.24                    24381.81
4        NY-BK                   854342.38                   294168.98
5        NY-MA                     4885.79                        0.00
6        PA-PH                   110662.20                    15563.83

In [51]:
# revenue
Rx_Revenue_IBD_less_and_greater_than_2k = Rx_Revenue_IBD_less_and_greater_than_2k.append(Rx_Revenue_IBD_less_and_greater_than_2k.sum(axis = 0), ignore_index = True)
Rx_Revenue_IBD_less_and_greater_than_2k.iloc[[7],[0]] = 'Overall'
Rx_Revenue_IBD_less_and_greater_than_2k = Rx_Revenue_IBD_less_and_greater_than_2k.fillna(0)
Rx_Revenue_IBD_less_and_greater_than_2k

  Pharmacy loc  Rx revenue for IBD < 2k($)  Rx revenue for IBD > 2k($)
0        FL-MI                    78038.18                        0.00
1        MD-BA                   145172.19                    21484.41
2        NC-RA                    56408.13                    11675.41
3        NJ-SO                   443585.24                    24381.81
4        NY-BK                   854342.38                   294168.98
5        NY-MA                     4885.79                        0.00
6        PA-PH                   110662.20                    15563.83
7      Overall                  1693094.11                   367274.44

In [52]:
for i in Rx_Revenue_IBD_less_and_greater_than_2k.columns[1:]:
    Rx_Revenue_IBD_less_and_greater_than_2k[i] = Rx_Revenue_IBD_less_and_greater_than_2k[i].astype(int)

In [53]:
Rx_Revenue_IBD_less_and_greater_than_2k = Rx_Revenue_IBD_less_and_greater_than_2k.set_index('Pharmacy loc')
Rx_Revenue_IBD_less_and_greater_than_2k = Rx_Revenue_IBD_less_and_greater_than_2k[Rx_Revenue_IBD_less_and_greater_than_2k.columns[:]].div(6,0).astype(int)
Rx_Revenue_IBD_less_and_greater_than_2k

              Rx revenue for IBD < 2k($)  Rx revenue for IBD > 2k($)
Pharmacy loc
FL-MI                              13006                           0
MD-BA                              24195                        3580
NC-RA                               9401                        1945
NJ-SO                              73930                        4063
NY-BK                             142390                       49028
NY-MA                                814                           0
PA-PH                              18443                        2593
Overall                           282182                       61212

In [54]:
Rx_Revenue_IBD_less_and_greater_than_2k['Total Revenue($)'] = Rx_Revenue_IBD_less_and_greater_than_2k[['Rx revenue for IBD < 2k($)', 'Rx revenue for IBD > 2k($)']].sum(axis=1)
Rx_Revenue_IBD_less_and_greater_than_2k

,Rx revenue for IBD < 2k($),Rx revenue for IBD > 2k($),Total Revenue($)
Pharmacy loc,,,
FL-MI,13006,0,13006
MD-BA,24195,3580,27775
NC-RA,9401,1945,11346
NJ-SO,73930,4063,77993
NY-BK,142390,49028,191418
NY-MA,814,0,814
PA-PH,18443,2593,21036
Overall,282182,61212,343394

In [55]:
Rx_Revenue_IBD_less_and_greater_than_2k['Rx revenue for IBD < 2k %'] = round(Rx_Revenue_IBD_less_and_greater_than_2k['Rx revenue for IBD < 2k($)']/Rx_Revenue_IBD_less_and_greater_than_2k['Total Revenue($)']*100,0)
Rx_Revenue_IBD_less_and_greater_than_2k['Rx revenue for IBD > 2k %'] = round(Rx_Revenue_IBD_less_and_greater_than_2k['Rx revenue for IBD > 2k($)']/Rx_Revenue_IBD_less_and_greater_than_2k['Total Revenue($)']*100,0)
Rx_Revenue_IBD_less_and_greater_than_2k.fillna(0,inplace=True)

Rx_Revenue_IBD_less_and_greater_than_2k['Rx revenue for IBD < 2k %'] = Rx_Revenue_IBD_less_and_greater_than_2k['Rx revenue for IBD < 2k %'].astype(int)
Rx_Revenue_IBD_less_and_greater_than_2k['Rx revenue for IBD > 2k %'] = Rx_Revenue_IBD_less_and_greater_than_2k['Rx revenue for IBD > 2k %'].astype(int)
Rx_Revenue_IBD_less_and_greater_than_2k

,Rx revenue for IBD < 2k($),Rx revenue for IBD > 2k($),Total Revenue($),Rx revenue for IBD < 2k %,Rx revenue for IBD > 2k %
Pharmacy loc,,,,,
FL-MI,13006,0,13006,100,0
MD-BA,24195,3580,27775,87,13
NC-RA,9401,1945,11346,83,17
NJ-SO,73930,4063,77993,95,5
NY-BK,142390,49028,191418,74,26
NY-MA,814,0,814,100,0
PA-PH,18443,2593,21036,88,12
Overall,282182,61212,343394,82,18

In [56]:
Rx_Revenue_IBD_less_and_greater_than_2k_final = Rx_Revenue_IBD_less_and_greater_than_2k[['Total Revenue($)', 'Rx revenue for IBD < 2k($)', 'Rx revenue for IBD < 2k %', 'Rx revenue for IBD > 2k($)', 'Rx revenue for IBD > 2k %']]
#Rx_Revenue_IBD_less_and_greater_than_2k_final = Rx_Revenue_IBD_less_and_greater_than_2k_final.set_index('Pharmacy loc')
Rx_Revenue_IBD_less_and_greater_than_2k_final = Rx_Revenue_IBD_less_and_greater_than_2k_final.rename(columns = {'Rx revenue for IBD < 2k %': ' %', 'Rx revenue for IBD > 2k %': '% '})
Rx_Revenue_IBD_less_and_greater_than_2k_final

,Total Revenue($),Rx revenue for IBD < 2k($),%,Rx revenue for IBD > 2k($),%
Pharmacy loc,,,,,
FL-MI,13006,13006,100,0,0
MD-BA,27775,24195,87,3580,13
NC-RA,11346,9401,83,1945,17
NJ-SO,77993,73930,95,4063,5
NY-BK,191418,142390,74,49028,26
NY-MA,814,814,100,0,0
PA-PH,21036,18443,88,2593,12
Overall,343394,282182,82,61212,18

In [57]:
subset_value = (Rx_Revenue_IBD_less_and_greater_than_2k_final.index.tolist()[:-1],['Rx revenue for IBD < 2k($)', 'Rx revenue for IBD > 2k($)'])
df_style2 = Rx_Revenue_IBD_less_and_greater_than_2k_final.style.set_properties(**body_design).background_gradient(cmap='RdYlGn',axis=1, subset = subset_value).format("{:,}")
df_style2.set_table_styles([border_design])

df_style2

In [58]:
dfi.export(df_style2, ibd_images+'rx_revenue_ibd_less_and_greater_than_2k_final_refill.png')

# IBD Denied

ibd_not_possible_list = ['IBD DENIED CALL MD TO SWITCH', 'IBD DENIED 2K+ (AMT)', 'IBD NOT POSSIBLE']

### Rx_with_IBD_value_less_2k

Rx_with_IBD_value_less_2k_denied = Rx_with_IBD_value_less_2k[Rx_with_IBD_value_less_2k['trackrx_last_ibdtag'].isin(ibd_not_possible_list)]

Rx_with_IBD_value_less_2k_denied

Rx_with_IBD_value_less_2k_denied_count_pivot = pd.pivot_table(Rx_with_IBD_value_less_2k_denied, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_less_2k_denied_count_pivot.rename(columns = {'rx_code_key_location':'rx_count_IBD_Denied'}, inplace = True)
Rx_with_IBD_value_less_2k_denied_count_pivot

Rx_with_IBD_value_less_2k_denied_revenue_pivot = pd.pivot_table(Rx_with_IBD_value_less_2k_denied, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_less_2k_denied_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_IBD_Denied'}, inplace = True)
Rx_with_IBD_value_less_2k_denied_revenue_pivot

Rx_with_IBD_value_less_2k_denied_pivot = pd.merge(Rx_with_IBD_value_less_2k_denied_count_pivot, Rx_with_IBD_value_less_2k_denied_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_IBD_value_less_2k_denied_pivot

Rx_with_IBD_value_less_2k_denied_pivot.append(Rx_with_IBD_value_less_2k_denied_pivot.sum(axis=0), ignore_index=True).to_clipboard(index=False)

### Rx_with_IBD_value_greater_2k_denied

Rx_with_IBD_value_greater_2k_denied = Rx_with_IBD_value_greater_2k[Rx_with_IBD_value_greater_2k['trackrx_last_ibdtag'].isin(ibd_not_possible_list)]

#Rx_with_IBD_value_greater_2k_IBD_df['IBD_status'] = Rx_with_IBD_value_greater_2k_IBD_df

Rx_with_IBD_value_greater_2k_denied

Rx_with_IBD_value_greater_2k_denied_count_pivot = pd.pivot_table(Rx_with_IBD_value_greater_2k_denied, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_greater_2k_denied_count_pivot.rename(columns = {'rx_code_key_location':'rx_count_IBD_Denied'}, inplace = True)
Rx_with_IBD_value_greater_2k_denied_count_pivot

Rx_with_IBD_value_greater_2k_denied_revenue_pivot = pd.pivot_table(Rx_with_IBD_value_greater_2k_denied, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_greater_2k_denied_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_IBD_Denied'}, inplace = True)
Rx_with_IBD_value_greater_2k_denied_revenue_pivot

Rx_with_IBD_value_greater_2k_denied_pivot = pd.merge(Rx_with_IBD_value_greater_2k_denied_count_pivot, Rx_with_IBD_value_greater_2k_denied_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_IBD_value_greater_2k_denied_pivot

Rx_with_IBD_value_greater_2k_denied_pivot.append(Rx_with_IBD_value_greater_2k_denied_pivot.sum(axis=0), ignore_index=True).to_clipboard(index=False)

# IBD not possible

ibd_possible_list = ['TO BE BILLED', 'CALL FOR INS', 'CALL MD (SEE NOTES)',
       'SPEAK WITH INSURANCE', 
        'IBD IS 2K+',
       'IBD IN PROCESS â€“ DARSHI', 'IBD IN PROCESS - MITCHELL', '0',
       'HIV', 'HORIZON-BILL', 'HORIZON-CALL', 'O/O', 'IBD IS $2K+',
       'IBD IN PROCESS - DANIEL', 'COPAY COUNSELING (SEE NOTES)',
       'CALL FOR INS DAY 2', 'COMPLICATED RX ( SEE NOTES)',
       'REFIL-CALLING', 'SALES-FOLLOWUP', 'HORIZON-OK TO BILL',
       'COUPON BILL', 'IBD DONE BY MD', 'SPEAK WITH INS',
       'IBD IN PROCESS - KARIM', 'IBD CHART NOTES REQ - 2K+',
       'DELIVER TO MD OFFICE', 'IBD CHART NOTES REQ - TIARA',
        'COMPLICATED RX (NOTES)',
       'COPAY SPECIALTY', 'DERM GROUP', 'CALL MD TO SWITCH',
       'REFILL CALLING OPTUMRX', 'IBD REQUIRED', 'DE-PD DERMATOLOGY',
       'IBD IN PROCESS - DARSHI', 'IBD IN PROCESS - KATHERINE',
       'NEW PX APP', 'CALL MD TO SWITCH-ACCT. MGT', 'RH-I RHEUMATOLOGY',
       'HUMIRA NURSE AMBASSADOR', 'SMS NRBP 1',
       'COMPLICATED RX (SEE NOTES)', 'IBD CHART NOTES REQ- CHRISTINE',
       "WORKER'S COMP", 'IBD FIDELIS', 'IBD IN PROCESS - TAMIKAH',
       'CX LANGUAGE SPANISH', 'IBD IN PROCESS - CHIARA',
       'REFILL-CALLING OPTUMRX', 'IBD IN PROCESS - ASHLEY',
       'COPAY COUNSELLING', 'IBD CHART NOTES REQ',
       'IBD IN PROCESS - TATYANNA', 'DEL REVERSALS']

Rx_with_IBD_value_less_2k_possible = Rx_with_IBD_value_less_2k[Rx_with_IBD_value_less_2k['trackrx_last_ibdtag'].isin(ibd_possible_list)]

Rx_with_IBD_value_less_2k_possible_count_pivot = pd.pivot_table(Rx_with_IBD_value_less_2k_possible, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_less_2k_possible_count_pivot.rename(columns = {'rx_code_key_location':'rx_count_IBD_Denied'}, inplace = True)
Rx_with_IBD_value_less_2k_possible_count_pivot

Rx_with_IBD_value_less_2k_possible_revenue_pivot = pd.pivot_table(Rx_with_IBD_value_less_2k_possible, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_less_2k_possible_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_IBD_Denied'}, inplace = True)
Rx_with_IBD_value_less_2k_possible_revenue_pivot

Rx_with_IBD_value_less_2k_possible_pivot = pd.merge(Rx_with_IBD_value_less_2k_possible_count_pivot, Rx_with_IBD_value_less_2k_possible_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_IBD_value_less_2k_possible_pivot

Rx_with_IBD_value_less_2k_possible_pivot.append(Rx_with_IBD_value_less_2k_possible_pivot.sum(axis=0), ignore_index=True).to_clipboard(index=False)

### Rx_with_IBD_value_greater_2k_possible

Rx_with_IBD_value_greater_2k_possible = Rx_with_IBD_value_greater_2k[Rx_with_IBD_value_greater_2k['trackrx_last_ibdtag'].isin(ibd_possible_list)]

Rx_with_IBD_value_greater_2k_possible_count_pivot = pd.pivot_table(Rx_with_IBD_value_greater_2k_possible, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_greater_2k_possible_count_pivot.rename(columns = {'rx_code_key_location':'rx_count_IBD_possible'}, inplace = True)
Rx_with_IBD_value_greater_2k_possible_count_pivot

Rx_with_IBD_value_greater_2k_possible_revenue_pivot = pd.pivot_table(Rx_with_IBD_value_greater_2k_possible, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_greater_2k_possible_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_IBD_possible'}, inplace = True)
Rx_with_IBD_value_greater_2k_possible_revenue_pivot

Rx_with_IBD_value_greater_2k_denied_pivot = pd.merge(Rx_with_IBD_value_greater_2k_possible_count_pivot, Rx_with_IBD_value_greater_2k_possible_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_IBD_value_greater_2k_denied_pivot

Rx_with_IBD_value_greater_2k_denied_pivot.append(Rx_with_IBD_value_greater_2k_denied_pivot.sum(axis=0), ignore_index=True).to_clipboard(index=False)

# IBD billed & unbilled

# Rx_with_IBD_value_less_2k_denied
# Rx_with_IBD_value_greater_2k_denied
# Rx_with_IBD_value_less_2k_possible
# Rx_with_IBD_value_greater_2k_possible

# Rx_with_IBD_value_less_2k_denied billed & unbilled

Rx_with_IBD_value_less_2k_denied_billed = Rx_with_IBD_value_less_2k_denied[Rx_with_IBD_value_less_2k_denied['trackrx_last_status_new']=='B']

Rx_with_IBD_value_less_2k_denied_billed_count_pivot = pd.pivot_table(Rx_with_IBD_value_less_2k_denied_billed, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_less_2k_denied_billed_count_pivot.rename(columns = {'pharmacy_loc': 'pharmacy loc', 'rx_code_key_location':'Rx count for IBD < 2k'}, inplace = True)
#Rx_with_IBD_value_less_2k_denied_billed_count_pivot

Rx_with_IBD_value_less_2k_denied_billed_revenue_pivot = pd.pivot_table(Rx_with_IBD_value_less_2k_denied_billed, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_less_2k_denied_billed_revenue_pivot.rename(columns = {'pharmacy_loc': 'pharmacy loc', 'rx_revenue':'Rx revenue for IBD < 2k($)'}, inplace = True)
#Rx_with_IBD_value_less_2k_denied_billed_revenue_pivot

Rx_with_IBD_value_less_2k_denied_billed_pivot = pd.merge(Rx_with_IBD_value_less_2k_denied_billed_count_pivot, Rx_with_IBD_value_less_2k_denied_billed_revenue_pivot, on='pharmacy loc', how='left')
Rx_with_IBD_value_less_2k_denied_billed_pivot

Rx_with_IBD_value_less_2k_denied_billed_pivot.append(Rx_with_IBD_value_less_2k_denied_billed_pivot.sum(axis=0), ignore_index=True).to_clipboard(index=False)

# Rx_with_IBD_value_less_2k_denied_unbilled

Rx_with_IBD_value_less_2k_denied_unbilled = Rx_with_IBD_value_less_2k_denied[Rx_with_IBD_value_less_2k_denied['trackrx_last_status_new']=='NB']

Rx_with_IBD_value_less_2k_denied_unbilled_count_pivot = pd.pivot_table(Rx_with_IBD_value_less_2k_denied_unbilled, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_less_2k_denied_unbilled_count_pivot.rename(columns = {'rx_code_key_location':'rx_count_IBD_Denied_unbilled'}, inplace = True)
#Rx_with_IBD_value_less_2k_denied_unbilled_count_pivot

Rx_with_IBD_value_less_2k_denied_unbilled_revenue_pivot = pd.pivot_table(Rx_with_IBD_value_less_2k_denied_unbilled, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_less_2k_denied_unbilled_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_IBD_Denied_unbilled'}, inplace = True)
#Rx_with_IBD_value_less_2k_denied_unbilled_revenue_pivot

Rx_with_IBD_value_less_2k_denied_unbilled_pivot = pd.merge(Rx_with_IBD_value_less_2k_denied_unbilled_count_pivot, Rx_with_IBD_value_less_2k_denied_unbilled_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_IBD_value_less_2k_denied_unbilled_pivot

Rx_with_IBD_value_less_2k_denied_unbilled_pivot.append(Rx_with_IBD_value_less_2k_denied_unbilled_pivot.sum(axis=0), ignore_index=True).to_clipboard(index=False)

### Rx_with_IBD_value_less_2k_possible billed & unbilled

Rx_with_IBD_value_less_2k_possible_billed = Rx_with_IBD_value_less_2k_possible[Rx_with_IBD_value_less_2k_possible['trackrx_last_status_new']=='B']

Rx_with_IBD_value_less_2k_possible_billed_count_pivot = pd.pivot_table(Rx_with_IBD_value_less_2k_possible_billed, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_less_2k_possible_billed_count_pivot.rename(columns = {'pharmacy_loc': 'pharmacy loc', 'rx_code_key_location':'Rx count for IBD < 2k'}, inplace = True)
#Rx_with_IBD_value_less_2k_possible_billed_count_pivot

Rx_with_IBD_value_less_2k_possible_billed_revenue_pivot = pd.pivot_table(Rx_with_IBD_value_less_2k_possible_billed, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_less_2k_possible_billed_revenue_pivot.rename(columns = {'pharmacy_loc': 'pharmacy loc', 'rx_revenue':'Rx revenue for IBD < 2k($)'}, inplace = True)
#Rx_with_IBD_value_less_2k_possible_billed_revenue_pivot

Rx_with_IBD_value_less_2k_possible_billed_pivot = pd.merge(Rx_with_IBD_value_less_2k_possible_billed_count_pivot, Rx_with_IBD_value_less_2k_possible_billed_revenue_pivot, on='pharmacy loc', how='left')
Rx_with_IBD_value_less_2k_possible_billed_pivot

Rx_with_IBD_value_less_2k_possible_billed_pivot.append(Rx_with_IBD_value_less_2k_possible_billed_pivot.sum(axis=0), ignore_index=True).to_clipboard(index=False)

Rx_with_IBD_value_less_2k_possible_unbilled = Rx_with_IBD_value_less_2k_possible[Rx_with_IBD_value_less_2k_possible['trackrx_last_status_new']=='NB']

Rx_with_IBD_value_less_2k_possible_unbilled_count_pivot = pd.pivot_table(Rx_with_IBD_value_less_2k_possible_unbilled, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_less_2k_possible_unbilled_count_pivot.rename(columns = {'rx_code_key_location':'rx_count_IBD_possible_unbilled'}, inplace = True)

Rx_with_IBD_value_less_2k_possible_unbilled_revenue_pivot = pd.pivot_table(Rx_with_IBD_value_less_2k_possible_unbilled, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_less_2k_possible_unbilled_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_IBD_possible_unbilled'}, inplace = True)

Rx_with_IBD_value_less_2k_possible_unbilled_pivot = pd.merge(Rx_with_IBD_value_less_2k_possible_unbilled_count_pivot, Rx_with_IBD_value_less_2k_possible_unbilled_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_IBD_value_less_2k_possible_unbilled_pivot

Rx_with_IBD_value_less_2k_possible_unbilled_pivot.append(Rx_with_IBD_value_less_2k_possible_unbilled_pivot.sum(axis=0), ignore_index=True).to_clipboard(index=False)

## Rx_with_IBD_value_greater_2k_denied billed & unbilled

Rx_with_IBD_value_greater_2k_denied_billed = Rx_with_IBD_value_greater_2k_denied[Rx_with_IBD_value_greater_2k_denied['trackrx_last_status_new']=='B']

Rx_with_IBD_value_greater_2k_denied_billed_count_pivot = pd.pivot_table(Rx_with_IBD_value_greater_2k_denied_billed, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_greater_2k_denied_billed_count_pivot.rename(columns = {'pharmacy_loc': 'pharmacy loc','rx_code_key_location':'Rx count for IBD > 2k'}, inplace = True)
#Rx_with_IBD_value_greater_2k_denied_billed_count_pivot

Rx_with_IBD_value_greater_2k_denied_billed_revenue_pivot = pd.pivot_table(Rx_with_IBD_value_greater_2k_denied_billed, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_greater_2k_denied_billed_revenue_pivot.rename(columns = {'pharmacy_loc': 'pharmacy loc','rx_revenue':'Rx revenue for IBD > 2k($)'}, inplace = True)
#Rx_with_IBD_value_greater_2k_denied_billed_revenue_pivot

Rx_with_IBD_value_greater_2k_denied_billed_pivot = pd.merge(Rx_with_IBD_value_greater_2k_denied_billed_count_pivot, Rx_with_IBD_value_greater_2k_denied_billed_revenue_pivot, on='pharmacy loc', how='left')
Rx_with_IBD_value_greater_2k_denied_billed_pivot

Rx_with_IBD_value_greater_2k_denied_unbilled = Rx_with_IBD_value_greater_2k_denied[Rx_with_IBD_value_greater_2k_denied['trackrx_last_status_new']=='NB']

Rx_with_IBD_value_greater_2k_denied_unbilled_count_pivot = pd.pivot_table(Rx_with_IBD_value_greater_2k_denied_unbilled, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_greater_2k_denied_unbilled_count_pivot.rename(columns = {'rx_code_key_location':'rx_count_IBD_denied_unbilled'}, inplace = True)

Rx_with_IBD_value_greater_2k_denied_unbilled_revenue_pivot = pd.pivot_table(Rx_with_IBD_value_greater_2k_denied_unbilled, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_greater_2k_denied_unbilled_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_IBD_denied_unbilled'}, inplace = True)

Rx_with_IBD_value_greater_2k_denied_unbilled_pivot = pd.merge(Rx_with_IBD_value_greater_2k_denied_unbilled_count_pivot, Rx_with_IBD_value_greater_2k_denied_unbilled_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_IBD_value_greater_2k_denied_unbilled_pivot

Rx_with_IBD_value_greater_2k_denied_unbilled_pivot.append(Rx_with_IBD_value_greater_2k_denied_unbilled_pivot.sum(axis=0),ignore_index=True).to_clipboard(index=False)

## Rx_with_IBD_value_greater_2k_possible billed & unbilled

Rx_with_IBD_value_greater_2k_possible_billed = Rx_with_IBD_value_greater_2k_possible[Rx_with_IBD_value_greater_2k_possible['trackrx_last_status_new']=='B']

Rx_with_IBD_value_greater_2k_possible_billed_count_pivot = pd.pivot_table(Rx_with_IBD_value_greater_2k_possible_billed, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_greater_2k_possible_billed_count_pivot.rename(columns = {'pharmacy_loc':'pharmacy loc','rx_code_key_location':'Rx count for IBD > 2k'}, inplace = True)
#Rx_with_IBD_value_greater_2k_possible_billed_count_pivot

Rx_with_IBD_value_greater_2k_possible_billed_revenue_pivot = pd.pivot_table(Rx_with_IBD_value_greater_2k_possible_billed, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_greater_2k_possible_billed_revenue_pivot.rename(columns = {'pharmacy_loc':'pharmacy loc', 'rx_revenue':'Rx revenue for IBD > 2k($)'}, inplace = True)
#Rx_with_IBD_value_greater_2k_possible_billed_revenue_pivot

Rx_with_IBD_value_greater_2k_possible_billed_pivot = pd.merge(Rx_with_IBD_value_greater_2k_possible_billed_count_pivot, Rx_with_IBD_value_greater_2k_possible_billed_revenue_pivot, on='pharmacy loc', how='left')
Rx_with_IBD_value_greater_2k_possible_billed_pivot

Rx_with_IBD_value_greater_2k_possible_billed_pivot.append(Rx_with_IBD_value_greater_2k_possible_billed_pivot.sum(axis=0),ignore_index=True).to_clipboard(index=False)

Rx_with_IBD_value_greater_2k_possible_unbilled = Rx_with_IBD_value_greater_2k_possible[Rx_with_IBD_value_greater_2k_possible['trackrx_last_status_new']=='NB']

Rx_with_IBD_value_greater_2k_possible_unbilled_count_pivot = pd.pivot_table(Rx_with_IBD_value_greater_2k_possible_unbilled, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_greater_2k_possible_unbilled_count_pivot.rename(columns = {'rx_code_key_location':'rx_count_IBD_possible_unbilled'}, inplace = True)

Rx_with_IBD_value_greater_2k_possible_unbilled_revenue_pivot = pd.pivot_table(Rx_with_IBD_value_greater_2k_possible_unbilled, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_greater_2k_possible_unbilled_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_IBD_possible_unbilled'}, inplace = True)

Rx_with_IBD_value_greater_2k_possible_unbilled_pivot = pd.merge(Rx_with_IBD_value_greater_2k_possible_unbilled_count_pivot, Rx_with_IBD_value_greater_2k_possible_unbilled_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_IBD_value_greater_2k_possible_unbilled_pivot

#final data frames for Count & Revenue

# IBD denied count

Rx_with_IBD_value_greater_2k_possible_unbilled_pivot.append(Rx_with_IBD_value_greater_2k_possible_unbilled_pivot.sum(axis=0),ignore_index=True)

# IBD_denied_count_less_and_greater_than_2k = pd.merge(Rx_with_IBD_value_less_2k_denied_billed_count_pivot, Rx_with_IBD_value_greater_2k_denied_billed_count_pivot, on = 'pharmacy loc', how = 'outer')
# IBD_denied_count_less_and_greater_than_2k = IBD_denied_count_less_and_greater_than_2k.append(IBD_denied_count_less_and_greater_than_2k.sum(axis = 0), ignore_index = True)
# IBD_denied_count_less_and_greater_than_2k.iloc[[len(IBD_denied_count_less_and_greater_than_2k)-1],[0]] = 'Overall'
# IBD_denied_count_less_and_greater_than_2k = IBD_denied_count_less_and_greater_than_2k.fillna(0)
# IBD_denied_count_less_and_greater_than_2k = IBD_denied_count_less_and_greater_than_2k.set_index('pharmacy loc')
# IBD_denied_count_less_and_greater_than_2k = IBD_denied_count_less_and_greater_than_2k[IBD_denied_count_less_and_greater_than_2k.columns[:]].div(6,0).astype(int)
# IBD_denied_count_less_and_greater_than_2k

#IBD_denied_count_less_and_greater_than_2k = IBD_denied_count_less_and_greater_than_2k.fillna(0)
#IBD_denied_count_less_and_greater_than_2k = IBD_denied_count_less_and_greater_than_2k.set_index('pharmacy loc')
# IBD_denied_count_less_and_greater_than_2k['Total Count'] = IBD_denied_count_less_and_greater_than_2k[['Rx count for IBD < 2k', 'Rx count for IBD > 2k']].sum(axis=1)
# IBD_denied_count_less_and_greater_than_2k['Rx count for IBD < 2k %'] = round(IBD_denied_count_less_and_greater_than_2k['Rx count for IBD < 2k']/IBD_denied_count_less_and_greater_than_2k['Total Count']*100,0).astype(int)
# IBD_denied_count_less_and_greater_than_2k['Rx count for IBD > 2k %'] = round(IBD_denied_count_less_and_greater_than_2k['Rx count for IBD > 2k']/IBD_denied_count_less_and_greater_than_2k['Total Count']*100,0).astype(int)
# IBD_denied_count_less_and_greater_than_2k

# IBD_denied_count_less_and_greater_than_2k_final = IBD_denied_count_less_and_greater_than_2k[['Total Count', 'Rx count for IBD < 2k', 'Rx count for IBD < 2k %', 'Rx count for IBD > 2k', 'Rx count for IBD > 2k %']]
# #IBD_denied_count_less_and_greater_than_2k_final = IBD_denied_count_less_and_greater_than_2k_final.set_index('pharmacy loc')
# IBD_denied_count_less_and_greater_than_2k_final = IBD_denied_count_less_and_greater_than_2k_final.rename(columns = {'Rx count for IBD < 2k %': ' %', 'Rx count for IBD > 2k %': '% '})
# IBD_denied_count_less_and_greater_than_2k_final

# for i in IBD_denied_count_less_and_greater_than_2k_final.columns:
#     IBD_denied_count_less_and_greater_than_2k_final[i] = IBD_denied_count_less_and_greater_than_2k_final[i].astype(int)

# subset_value = (IBD_denied_count_less_and_greater_than_2k_final.index.to_list()[:-1], ['Rx count for IBD < 2k', 'Rx count for IBD > 2k'])
# df_style3 = IBD_denied_count_less_and_greater_than_2k_final.style.set_properties(**{'text-align': 'center','border-color':'white','border-width':'thin','border-style':'solid'}).background_gradient(cmap='RdYlGn',axis=1, subset = subset_value).format("{:,}")
# df_style3

# dfi.export(df_style3, ibd_images+'ibd_denied_count_less_and_greater_than_2k_final.png')

# IBD denied revenue

# IBD_denied_revenue_less_and_greater_than_2k = pd.merge(Rx_with_IBD_value_less_2k_denied_billed_revenue_pivot, Rx_with_IBD_value_greater_2k_denied_billed_revenue_pivot, on = 'pharmacy loc', how = 'outer')
# IBD_denied_revenue_less_and_greater_than_2k = IBD_denied_revenue_less_and_greater_than_2k.append(IBD_denied_revenue_less_and_greater_than_2k.sum(axis = 0), ignore_index = True)
# IBD_denied_revenue_less_and_greater_than_2k.iloc[[len(IBD_denied_revenue_less_and_greater_than_2k)-1],[0]] = 'Overall'
# IBD_denied_revenue_less_and_greater_than_2k = IBD_denied_revenue_less_and_greater_than_2k.fillna(0)
# IBD_denied_revenue_less_and_greater_than_2k = IBD_denied_revenue_less_and_greater_than_2k.set_index('pharmacy loc')
# IBD_denied_revenue_less_and_greater_than_2k = IBD_denied_revenue_less_and_greater_than_2k.astype(int)
# IBD_denied_revenue_less_and_greater_than_2k = IBD_denied_revenue_less_and_greater_than_2k[IBD_denied_revenue_less_and_greater_than_2k.columns[:]].div(6,0).astype(int)
# IBD_denied_revenue_less_and_greater_than_2k

# IBD_denied_revenue_less_and_greater_than_2k['Total Revenue($)'] = IBD_denied_revenue_less_and_greater_than_2k[['Rx revenue for IBD < 2k($)', 'Rx revenue for IBD > 2k($)']].sum(axis=1)
# IBD_denied_revenue_less_and_greater_than_2k['Rx revenue for IBD < 2k %'] = round(IBD_denied_revenue_less_and_greater_than_2k['Rx revenue for IBD < 2k($)']/IBD_denied_revenue_less_and_greater_than_2k['Total Revenue($)']*100,0).astype(int)
# IBD_denied_revenue_less_and_greater_than_2k['Rx revenue for IBD > 2k %'] = round(IBD_denied_revenue_less_and_greater_than_2k['Rx revenue for IBD > 2k($)']/IBD_denied_revenue_less_and_greater_than_2k['Total Revenue($)']*100,0).astype(int)
# IBD_denied_revenue_less_and_greater_than_2k

# IBD_denied_revenue_less_and_greater_than_2k_final = IBD_denied_revenue_less_and_greater_than_2k[['Total Revenue($)', 'Rx revenue for IBD < 2k($)', 'Rx revenue for IBD < 2k %', 'Rx revenue for IBD > 2k($)', 'Rx revenue for IBD > 2k %']]
# #IBD_denied_revenue_less_and_greater_than_2k_final = IBD_denied_revenue_less_and_greater_than_2k_final.set_index('pharmacy loc')
# IBD_denied_revenue_less_and_greater_than_2k_final = IBD_denied_revenue_less_and_greater_than_2k_final.rename(columns = {'Rx revenue for IBD < 2k %': ' %', 'Rx revenue for IBD > 2k %': '% '})
# IBD_denied_revenue_less_and_greater_than_2k_final

# for i in IBD_denied_revenue_less_and_greater_than_2k_final.columns:
#     IBD_denied_revenue_less_and_greater_than_2k_final[i] = IBD_denied_revenue_less_and_greater_than_2k_final[i].astype(int)

# subset_value = (IBD_denied_revenue_less_and_greater_than_2k_final.index.to_list()[:-1], ['Rx revenue for IBD < 2k($)', 'Rx revenue for IBD > 2k($)'])
# df_style4 = IBD_denied_revenue_less_and_greater_than_2k_final.style.set_properties(**{'text-align': 'center','border-color':'white','border-width':'thin','border-style':'solid'}).background_gradient(cmap='RdYlGn',axis=1, subset = subset_value).format("{:,}")
# # dfi.export(df_style4, ibd_images+'ibd_denied_revenue_less_and_greater_than_2k_final.png')
# df_style4

# IBD not possible count

# IBD_not_possible_count_less_and_greater_than_2k = pd.merge(Rx_with_IBD_value_less_2k_possible_billed_count_pivot, Rx_with_IBD_value_greater_2k_possible_billed_count_pivot, on = 'pharmacy loc', how = 'outer')
# IBD_not_possible_count_less_and_greater_than_2k = IBD_not_possible_count_less_and_greater_than_2k.append(IBD_not_possible_count_less_and_greater_than_2k.sum(axis = 0), ignore_index = True)
# IBD_not_possible_count_less_and_greater_than_2k = IBD_not_possible_count_less_and_greater_than_2k.fillna(0)
# IBD_not_possible_count_less_and_greater_than_2k.iloc[[7],[0]] = 'Overall'
# IBD_not_possible_count_less_and_greater_than_2k = IBD_not_possible_count_less_and_greater_than_2k.set_index('pharmacy loc')
# IBD_not_possible_count_less_and_greater_than_2k = IBD_not_possible_count_less_and_greater_than_2k[IBD_not_possible_count_less_and_greater_than_2k.columns[:]].div(6,0).astype(int)
# IBD_not_possible_count_less_and_greater_than_2k['Total count'] = IBD_not_possible_count_less_and_greater_than_2k[['Rx count for IBD < 2k', 'Rx count for IBD > 2k']].sum(axis=1)
# IBD_not_possible_count_less_and_greater_than_2k

# #IBD_not_possible_count_less_and_greater_than_2k['Total count'] = IBD_not_possible_count_less_and_greater_than_2k[['Rx count for IBD < 2k', 'Rx count for IBD > 2k']].sum(axis=1)
# IBD_not_possible_count_less_and_greater_than_2k['Rx count for IBD < 2k %'] = round(IBD_not_possible_count_less_and_greater_than_2k['Rx count for IBD < 2k']/IBD_not_possible_count_less_and_greater_than_2k['Total count']*100,0).astype(int)
# IBD_not_possible_count_less_and_greater_than_2k['Rx count for IBD > 2k %'] = round(IBD_not_possible_count_less_and_greater_than_2k['Rx count for IBD > 2k']/IBD_not_possible_count_less_and_greater_than_2k['Total count']*100,0).astype(int)
# IBD_not_possible_count_less_and_greater_than_2k

# IBD_not_possible_count_less_and_greater_than_2k_final = IBD_not_possible_count_less_and_greater_than_2k[['Total count', 'Rx count for IBD < 2k', 'Rx count for IBD < 2k %', 'Rx count for IBD > 2k', 'Rx count for IBD > 2k %']]
# #IBD_not_possible_count_less_and_greater_than_2k_final = IBD_not_possible_count_less_and_greater_than_2k_final.set_index('pharmacy loc')
# IBD_not_possible_count_less_and_greater_than_2k_final = IBD_not_possible_count_less_and_greater_than_2k_final.rename(columns = {'Rx count for IBD < 2k %': ' %', 'Rx count for IBD > 2k %': '% '})
# IBD_not_possible_count_less_and_greater_than_2k_final

# subset_value = (IBD_not_possible_count_less_and_greater_than_2k_final.index.to_list()[:-1], ['Rx count for IBD < 2k', 'Rx count for IBD > 2k'])
# df_style5 = IBD_not_possible_count_less_and_greater_than_2k_final.style.set_properties(**{'text-align': 'center','border-color':'white','border-width':'thin','border-style':'solid'}).background_gradient(cmap='RdYlGn',axis=1, subset = subset_value).format("{:,}")
# # dfi.export(df_style5, ibd_images+'ibd_not_possible_count_less_and_greater_than_2k_final.png')
# df_style5

# IBD not possible revenue

# IBD_not_possible_revenue_less_and_greater_than_2k = pd.merge(Rx_with_IBD_value_less_2k_possible_billed_revenue_pivot, Rx_with_IBD_value_greater_2k_possible_billed_revenue_pivot, on = 'pharmacy loc', how = 'outer')
# IBD_not_possible_revenue_less_and_greater_than_2k = IBD_not_possible_revenue_less_and_greater_than_2k.append(IBD_not_possible_revenue_less_and_greater_than_2k.sum(axis = 0), ignore_index = True)
# IBD_not_possible_revenue_less_and_greater_than_2k = IBD_not_possible_revenue_less_and_greater_than_2k.fillna(0)
# IBD_not_possible_revenue_less_and_greater_than_2k.iloc[[len(IBD_not_possible_revenue_less_and_greater_than_2k)-1],[0]] = 'Overall'

# IBD_not_possible_revenue_less_and_greater_than_2k = IBD_not_possible_revenue_less_and_greater_than_2k.set_index('pharmacy loc')
# IBD_not_possible_revenue_less_and_greater_than_2k = IBD_not_possible_revenue_less_and_greater_than_2k[IBD_not_possible_revenue_less_and_greater_than_2k.columns[:]].div(6,0).astype(int)
# IBD_not_possible_revenue_less_and_greater_than_2k

# IBD_not_possible_revenue_less_and_greater_than_2k['Total Revenue ($)'] = IBD_not_possible_revenue_less_and_greater_than_2k[['Rx revenue for IBD < 2k($)', 'Rx revenue for IBD > 2k($)']].sum(axis=1)
# IBD_not_possible_revenue_less_and_greater_than_2k['Rx revenue for IBD < 2k %'] = round(IBD_not_possible_revenue_less_and_greater_than_2k['Rx revenue for IBD < 2k($)']/IBD_not_possible_revenue_less_and_greater_than_2k['Total Revenue ($)']*100,0).astype(int)
# IBD_not_possible_revenue_less_and_greater_than_2k['Rx revenue for IBD > 2k %'] = round(IBD_not_possible_revenue_less_and_greater_than_2k['Rx revenue for IBD > 2k($)']/IBD_not_possible_revenue_less_and_greater_than_2k['Total Revenue ($)']*100,0).astype(int)
# IBD_not_possible_revenue_less_and_greater_than_2k

# IBD_not_possible_revenue_less_and_greater_than_2k_final = IBD_not_possible_revenue_less_and_greater_than_2k[['Total Revenue ($)', 'Rx revenue for IBD < 2k($)', 'Rx revenue for IBD < 2k %', 'Rx revenue for IBD > 2k($)', 'Rx revenue for IBD > 2k %']]
# #IBD_not_possible_revenue_less_and_greater_than_2k_final = IBD_not_possible_revenue_less_and_greater_than_2k_final.set_index('pharmacy loc')
# IBD_not_possible_revenue_less_and_greater_than_2k_final = IBD_not_possible_revenue_less_and_greater_than_2k_final.rename(columns = {'Rx revenue for IBD < 2k %': ' %', 'Rx revenue for IBD > 2k %': '% '})
# IBD_not_possible_revenue_less_and_greater_than_2k_final

# for i in IBD_not_possible_revenue_less_and_greater_than_2k_final.columns:
#     IBD_not_possible_revenue_less_and_greater_than_2k_final[i] = IBD_not_possible_revenue_less_and_greater_than_2k_final[i].astype(int)

# subset_value = (IBD_not_possible_revenue_less_and_greater_than_2k_final.index.to_list()[:-1], ['Rx revenue for IBD < 2k($)', 'Rx revenue for IBD > 2k($)'])
# df_style6 = IBD_not_possible_revenue_less_and_greater_than_2k_final.style.set_properties(**{'text-align': 'center','border-color':'white','border-width':'thin','border-style':'solid'}).background_gradient(cmap='RdYlGn',axis=1, subset = subset_value).format("{:,}")
# # dfi.export(df_style6, ibd_images+'ibd_not_possible_revenue_less_and_greater_than_2k_final.png')
# df_style6